
body {
    font-family: 'B612', sans-serif;
}

/*Takuya*/
/* using nav */
header {
    margin: 50px 150px 0 150px;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    height: 114px;
}

img.homeimg {
    max-height: 100%;
}

/* nav {
    width: 50%;
}

.menu {
    border: 1px solid lightgray;
    display: flex;
    border-collapse: collapse;
} */

.headerleft li {
    list-style: none;
    padding: 16px;
    text-align: center;
}

a.menu {
    border: solid 1px black;
    width: 200px;
}

/* .homeimg {
    padding: 0 30px;
    width: auto;
    height: 120px;
} */

nav {
    margin: auto 0 auto 0;
}

.headerleft {
    display: flex;
}

.menu {
    font-size: 1.25rem;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

/*ORE*/

.intro h1 {
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 0;
}

.intro p {
    padding: 0 150px 0 150px;
    text-align: center;
    line-height: 25px;
}

.intro img {
    max-width: 100%;
}

/* Takuya 2nd part */
.split2::before {
    content:"";
    display: block;
    left: 50%;
    top: 0;
    position: absolute;
    bottom: 0;
    border-left: 1px solid red;
}

.split2::after {
    content:"";
    display: block;
    left: 25%;
    top: 0;
    position: absolute;
    bottom: 0;
    border-left: 1px solid red;
}

.split2 {
    position: relative;
    margin: 0 5%;
}

.flex {
    margin: 20px;
    display: flex;
    margin:  auto;
}


.split4 {
    display: flex;
;}

.right, .left {
    width: 50%;
}

.landscapeimg {
    position: relative;
}

.landscapeimg img {
    max-width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
    
}


.split4 div {
    padding: 10px;
    width: 50%;
}

.split4 h3 {
    font-size: 1.25rem;
}

.split4 .number {
    color: lightgray;
}

/* takuya 3rd part */
/* outro and mail form */

.split {
    display: flex;
    margin-top: 40px;
}

.split .outroleft {
    background: lightgray;
    width: 50%;
    height: 230px;
    position: relative;

}

.outroleft .outrocontext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}

.split .outroright {
    background: lightblue;
    width: 50%;
    height: 230px;
    position: relative;
}

.outroright .outrocontext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}

.outrocontext{
    width: 80%;
}

.outrocontext .mail {
    display: flex;
    justify-content: space-between;
}


input[type='text'] {
    background-color: transparent;
    border: none;
    width: 60%;
    font-size: 1.25rem;
}

input[type='text']:focus {
    outline: none;
}

input[type='submit'] {
    background: transparent;
    outline: 1px solid black;
    padding: 10px 20px;
}

input[type='submit']:hover {
    text-decoration: underline;
}



/* footer */
footer {
    background: white;
    margin-top: 30px;
}



footer .top {
    display: flex;
    margin: 0 5%;
}

.top h3 {
    width: 25%;
}

hr {
    width: 90%;
}

.footer .footermenu {
    display: flex;
    margin: 0 5%;
}

.footermenu div {
    width: 25%;
    list-style: none;
}

.footermenu div li {
    margin: 5% 5% 5% 0;
}

.footermenu div span {
    padding: 5% 5% 5% 0;
}

